@use "./index";

.head {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media screen and (min-width: 40em) {
    gap: 4em;
    flex-direction: row;
  }

  &__text {
    flex-basis: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 60em) {
      text-align: left;
      align-items: flex-start;
    }
  }

  &__heading {
    color: var(--very--dark-magenta);
    font-weight: 700;
    max-width: 14ch;
    margin-bottom: 2rem;

    @media screen and (min-width: 60em) {
      font-size: 4rem;
    }
  }

  &__paragraph {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 26ch;
    color: var(--dark-grayish-magenta);

    @media screen and (min-width: 60em) {
      font-size: var(--d-font-size);
      max-width: 38ch;
    }
  }

  &__rate {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
    padding: 1rem;

    @media screen and (min-width: 60em) {
      transform: skew(30deg);

      & > * {
        transform: skew(-30deg);
      }
    }

    .rate {
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
      background-color: var(--light-grayish-agenta);
      color: var(--very--dark-magenta);
      font-weight: 700;
      border-radius: 0.5rem;
      padding: 1.1rem 1.5rem;

      @media screen and (min-width: 60em) {
        font-size: 1.5rem;
        flex-direction: row;
        align-items: center;
        padding: 1.8rem 1.7rem;
      }

      &__icons {
        display: flex;
        margin-right: 2rem;
        // flex-basis: 50%;
      }

      &__paragraph {
        font-size: 1.2rem;
        // flex-basis: 50%;
      }
    }
  }
}

.testimonials {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media screen and (min-width: 60em) {
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    transform: rotate(3deg);

    & > * {
      transform: rotate(-3deg);
    }
  }

  &__box {
    font-size: inherit;
    padding: 2em;
    background-color: var(--very--dark-magenta);
    border-radius: 1rem;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;

    &--img {
      border-radius: 100%;
      width: 4em;
      height: 4em;
    }
  }

  &__bio {
    color: var(--white);
    line-height: 1.5;

    @media screen and (min-width: 60em) {
      font-size: 1.2rem;
      margin-left: -1rem;
    }

    span {
      color: var(--soft-pink);
    }
  }

  &__paragraph {
    font-size: 1.1rem;
    font-weight: 300;
    max-width: 24ch;
    color: var(--white);

    @media screen and (min-width: 60em) {
      font-size: 1.2rem;
      max-width: 26ch;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
