body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f2f2f2;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 96em;
  padding: 6em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  background-color: var(--white);
  background-image: url(../images/bg-pattern-bottom-mobile.svg),
    url(../images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom right, top left;

  @media screen and (min-width: 26.6em) {
    background-image: url(../images/bg-pattern-bottom-desktop.svg),
      url(../images/bg-pattern-top-desktop.svg);
  }

  @media screen and (min-width: 60em) {
    padding: 12em;
    gap: 12rem;
  }
}
